@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Zdcg.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWiUNhrIqY.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(http://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}

body {
    font-family: "Open Sans";
    font-weight: 400;
    letter-spacing: 0px;
    font-style: normal;
    color: #4f4f4f;
}

/*materialize override*/
[type="checkbox"]:checked + span:not(.lever):before {
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}
.dropdown-content {
    border-top: .3em solid #d1990d;
}
.collapsible {
    border: none;
}
#mobileMenu .collapsible-header i {
    position: absolute;
    right: 0;
}
/*materialize override*/

/*responsive*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .mainContent {
        position: relative !important;
        margin-bottom: 0 !important;
    }
    .workShops {
        padding-top: 0 !important;
    }
    .fixedFooter {
        position: relative !important;
    }
    .WAS {
        padding: 0 !important;
        padding-top: 3em !important;
        padding-bottom: 3em !important;
        background-color: #4f4f4f;
    }
    .weDo {
        padding: 2em !important;
        padding-bottom: 0 !important;
    }
}
.eachMobileItem {
    line-height: 2.5;
}
/*responsive*/

.mainContent {
    z-index: 999;
    position: relative;
    margin-bottom: 40em;
}
.navigationTop {
    padding-bottom: 1em;
    height: 5em;
}
.navigationLogo {
    margin-top: 1em;
}
.mobileMenuIcon {
    margin-top: 1em;
    margin-right: .5em;
}
.navigationBtn {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333333;
    padding-top: .5em;
    transition: color .3s;
    font-family: "Open Sans";
    font-size: 16px;

}
.navigationBtn:hover {
    color: #d1990d;
    padding-top: .2em;
    border-top: .3em solid #d1990d;
    background-color: transparent;
}
.workShops {
    background-image: url("../img/backStart.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em;
    margin: 0;
}
.workShop1 {
    margin-right: 1em !important;
    margin-bottom: 1em;
    padding: 3em !important;
    background-color: rgba(255,255,255,0.6);
    overflow: hidden;
}
.workShop2 {
    margin-bottom: 1em;
    padding: 3em !important;
    background-color: rgba(244,205,112,0.6);
}
.workShopsTitle {
    font-weight: 700;
    color: #4f4f4f;
    font-family: "Open Sans";

}
.workShopBtn {
    width: 100%;
    height: 3em;
    border: .15em solid;
    border-radius: 1.5em;
    font-weight: 600;
}
.workShopBtn:hover {
    width: 100%;
    height: 3em;
    border: .15em solid;
    border-radius: 1.5em;
    font-weight: 600;
    background-color: rgba(209, 153, 13, 0.61) !important;
}
.workShopIcon {
    margin-right: .3em;
    height: 100%;
}
.workShopIconText {
    display: inline;
}
.workShopItalic {
    text-align: center;
    margin-top: .5em;
    font-size: .9em;
}
.weDo {
    padding: 3em;
    padding-bottom: 0;
    background-color: #d1990d;
}
.weDoSub {
    font-weight: 500;
    font-size: 1.3em;
}
.unserBtn {
    width: 100%;
    text-align: left;
    background-color: #f4f4f4;
    margin-bottom: 1em;
    font-weight: 700;
    color: #4f4f4f;
    border: none;
}
.unserBtn:hover {
    width: 100%;
    text-align: left;
    background-color: rgba(221,153,0,0.4);
}
.unserActive {
    background-color: rgba(221,153,0,0.4);
}

.WAS {
    padding: 3em;
    background-color: #4f4f4f;
}
.WARUM {
    padding: 3em;
    background-image: url("../img/WARUM.png");
    background-size: cover;
    background-position: bottom;
}
.WARUMtext {
    line-height: 1.5;
    font-size: 1.2em;
}
.BEWERTUNGENitalic {
    font-size: 1.5em;
    font-weight: 400;
    color: #4f4f4f;
}
.BEWERTUNGENauthor {
    font-size: 1.3em;
}
.footer {
    background-color: #363839;
    padding: 3em;
}
.footerLinks {
    font-size: 1.1em;
    transition: .3s;
}
.footerLinks:hover {
    color: white !important;
}
.copyright {
    background-color: #282a2b;
    margin: 0;
    padding: 1em;
}
.fixedFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 0;
}
#toTop {
    display: none;
    position: fixed;
    bottom: 0;
    right: 3em;
    z-index: 99;
    outline: none;
    cursor: pointer;
    opacity: .7;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .5em;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
}

.sticky{
    box-shadow: none;
}

.unsenTxt {
    margin-top:0;
}